/*
Template Name: GetLeads
Author URI: https://themeforest.net/user/epic-themes
Author Name: Epic Themes
Version: 1.0
*/

/* --- TABLE OF CONTENT

01. GENERAL LAYOUT
02. MENU-NAV
03. FOOTER
04. HOME
05. TEAM
06. FEATURES
07. PORTFOLIO
08. MAGNIFIC POPUP
09. PRICING
10. BLOG
11. NEWSLETTER
12. CONTACT
13. OTHER ELEMENTS
		a. Buttons
		b. Testimonials
		c. Benefits List
		d. Fun Facts
		e. Dropcaps Features
14. MEDIA QUERIES

--- */

/* ========================================================== */
/* 			               01. GENERAL LAYOUT                 */
/* ========================================================== */

ul {
	padding: 0;
}

ul, ol { 
	list-style: none; 
	list-style-image: none; 
	margin: 0; 
	padding: 0;
	color:#858585;
	font-size: 14px;
	line-height:24px;
	margin-bottom:20px;
}
	
ul li, ol li{
	font-size: 17px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
}

ul li i{
	vertical-align: middle;
	padding-right: 5px;
}

p {
	font-size: 18px;
    line-height: 28px;
	font-weight: 400;
	color: #7c8595;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
	text-decoration: none;
	outline: 0;
}

a:hover{
	color: #017df7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom:20px;
  color: #071e55;
  font-weight: 500;
}

h1 {
	font-size: 44px;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

h2.section-title {
    margin-bottom: 10px;
}

p.section-subtitle{
	font-size:18px;
}

p.section-subtitle.white{
	color:#ffffff;
}

p.section-subtitle.black{
	color:#252525;
}

iframe {
    max-width: 100%;
    border: none;
}

.iframe-youtube{
    position: relative;
    margin-top: 30px;
    z-index: 100;
}

.iframe-youtube iframe{
    padding: 10px 10px;
    box-shadow: 0 15px 36px rgba(0, 0, 0, 0.20);
    background-color: #fff;
    webkit-border-radius: 8px 8px;
    -moz-border-radius: 8px 8px;
    border-radius: 8px 8px;
    z-index: 100;
}

.popup-gallery .video-popup-image{
	z-index: 100;
}

.popup-gallery:hover .video-popup-image{
	opacity: 1;
}

.video-play-icon {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -45px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 40px;
    /* color: #e52f37; */
     color: #007ee5;
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 50% 50%;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.video-play-icon:hover {
    background-color: rgba(255, 255, 255, 0.99);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.video-play-icon i {
    /* color: #e52f37; */
     color: #007ee5;
    font-size: 40px!important;
}

.white-text{ 
	color: #fff;
}

.red {
    /* color: #e52f37; */
     color: #007ee5;
}

.strong{
	font-weight: bold;
}

.section-bg-1{
    position: relative;
    padding: 110px 0;
   /*  background: linear-gradient(-45deg, #4576c3, #5547bf, #9045c0, #be47b2); */
    background: linear-gradient(-45deg, #4f92fc, #0198f3, #049af3, #ffffff);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.section-bg-2{
    background: url(../images/bg1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 120px 0;
}

.section-bg-2.small-padding{
    padding: 90px 0;
}

.section-bg-3{
    background: url(../images/bg1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 140px 0;
}

.section-bg-overlay{
	width: 100%;
	background:#007ee5;
	opacity: 0.65;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.section-white {
	background: #fff;
	padding: 90px 0 70px 0;
}

.section-grey{
	background: #f1faff;
	padding: 90px 0 70px 0;
}

.section-red {
	background:#007ee5;
	padding: 90px 0 70px 0;
}

.section-yellow {
	background: #fbd260;
	padding: 90px 0 70px 0;
}

.section-white.no-padding, .section-grey.no-padding, .section-red.no-padding {
	padding:0;
}

.section-white.medium-paddings, .section-grey.medium-paddings, .section-red.medium-paddings {
	padding: 60px 0;
}

.section-white.small-paddings, .section-grey.small-paddings, .section-red.small-paddings {
	padding: 30px 0;
}

.section-white.xsmall-paddings, .section-grey.xsmall-paddings, .section-red.xsmall-paddings {
	padding: 10px 0;
}

.section-white.small-padding-top, .section-grey.small-padding-top, .section-red.small-padding-top {
	padding: 30px 0 90px 0;
}

.section-white.small-padding-bottom, .section-grey.small-padding-bottom, .section-red.small-padding-bottom {
	padding: 90px 0 70px 0;
}

.section-white.no-padding-bottom, .section-grey.no-padding-bottom, .section-red.no-padding-bottom {
	padding: 90px 0 0 0;
}

.small-col-inside{
	margin: 90px 0;
	max-width: 575px;
	padding-left: 55px;
}

.width-100{
	width: 100%;
}

.box-shadow {
	border-radius: 8px;
    box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.37);
}

.image-shadow {
	border-radius: 8px 8px;
	box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}

/* margin and padding classes */

.margin-right-15 {
	margin-right: 15px;
}

.margin-left-15 {
	margin-left: 15px;
}

.margin-right-25 {
	margin-right: 25px !important;
}

.margin-left-25 {
	margin-left: 25px !important;
}

.margin-left-20 {
	margin-left: 20px !important;
}

.margin-top-120 {
	margin-top: 120px !important;
}

.margin-top-110 {
	margin-top: 110px !important;
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-90 {
	margin-top: 90px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-70 {
	margin-top: 70px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-50 {
	margin-top: 50px !important;
}

.margin-top-40 {
	margin-top: 40px !important;
}

.margin-top-35 {
	margin-top: 35px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-5 {
	margin-top: 5px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-5{
	margin-bottom: 5px;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-100 {
	margin-bottom: 100px !important;
}

.margin-bottom-120 {
	margin-bottom: 120px !important;
}

.margin-bottom-130 {
	margin-bottom: 120px !important;
}

.margin-bottom-140 {
	margin-bottom: 140px !important;
}

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-top-15 {
	padding-top: 15px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}
.padding-top-25 {
	padding-top: 25px !important;
}

.padding-top-30 {
	padding-top: 30px !important;
}

.padding-top-35 {
	padding-top: 35px !important;
}

.padding-top-40 {
	padding-top: 40px !important;
}

.padding-top-45 {
	padding-top: 45px !important;
}

.padding-top-50 {
	padding-top: 50px !important;
}
.padding-top-60 {
	padding-top: 60px !important;
}

.padding-top-70 {
	padding-top: 70px !important;
}

.padding-top-80 {
	padding-top: 80px !important;
}

.padding-top-100 {
	padding-top: 100px !important;
}

.padding-top-120 {
	padding-top: 120px !important;
}

.padding-top-150 {
	padding-top: 150px !important;
}

.padding-bottom-70 {
	padding-bottom: 70px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-50 {
	padding-bottom: 50px !important;
}

.padding-bottom-40 {
	padding-bottom: 40px !important;
}

.padding-bottom-30 {
	padding-bottom: 30px !important;
}

.padding-bottom-20 {
	padding-bottom: 20px !important;
}

.padding-bottom-10 {
	padding-bottom: 10px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.padding-left-20{
	padding-left: 20px;
}

/* ========================================================== */
/* 			               02. MENU-NAV                       */
/* ========================================================== */

.navbar-brand{
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 700;
	color: #071e55;
}

.navbar-brand span.red{
	color: #007ee5;
}

.navbar-brand:hover{
	color: #071e55;
}

.navbar-brand:hover span.red{
	color:#007ee5;
}

.navbar-fixed-top.opaque .navbar-brand{
	color: #071e55;
}

.navbar-fixed-top.opaque .navbar-brand span.red{
	color:#007ee5;
}

.navbar-fixed-top.opaque .navbar-brand:hover{
	color: #071e55;
}

.navbar {
	width: 100%;
	z-index: 9999;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-toggler {
    border: 1px solid #007ee5;
}

.navbar-toggler-icon {
	width: 1.3em;
    height: 1.3em;
}

.navbar-toggler-icon i {
    color: #007ee5;
    vertical-align: middle;
}

.navbar-fixed-top {
	position: absolute!important;
	background-color: #fff;
	border-bottom: 1px solid #efefef;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04)!important;
	transition: background-color 0.25s ease 0s;
}

.navbar-fixed-top.opaque {
	position: fixed!important;
	top: 0;
	margin-top: 0;
	background-color: #fff!important;
	border-bottom: 1px solid #efefef;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04)!important;
	transition: all 0.25s ease-in-out 0s;
}

.navbar-fixed-top.opaque .navbar-nav > li{
	display: inline-block;
}

.navbar-fixed-top .navbar-nav > li > a{
	color:#071e55;
	font-size: 17px !important;
	line-height: 30px !important;
	padding: 10px 15px!important;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.navbar-fixed-top.opaque .navbar-nav > li > a{
	color:#071e55;
}

.navbar-fixed-top .navbar-nav > li > a:hover{
	/* color: #e52f37!important; */
	 color: #007ee5!important;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top.opaque .navbar-nav .current a {
    /* color:#e52f37!important; */
     color: #007ee5!important;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top .navbar-nav > li > a.discover-btn {
	/* border: 1px solid #e52f37; */
	color: #fff!important;
	 border: 1px solid #007ee5;
     background: #007ee5;
	/* background:#e52f37; */
	border-radius: 23px 23px;
	padding: 12px 18px!important;
	margin-left: 10px;
	margin-right: 15px;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top .navbar-nav > li > a.discover-btn:hover {
	/* color: #e52f37!important;
	background: transparent;
	border: 1px solid #e52f37; */
	color:#007ee5!important;
    background: transparent;
    border: 1px solid #007ee5;
}

.navbar-fixed-top.opaque .navbar-nav > li > a.discover-btn {
	color: #fff!important;
	 background: #007ee5;
    border: 1px solid #007ee5;
	/* background: #e52f37;
	border: 1px solid #e52f37; */
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top.opaque .navbar-nav > li > a.discover-btn:hover {
	/* border: 1px solid #e52f37;
	color: #e52f37!important;
	background: transparent; */
	border: 1px solid #007ee5;
    color: #007ee5!important;
    background: transparent;
}

/* ========================================================== */
/* 			                03. FOOTER                        */
/* ========================================================== */

.footer{
	position: relative;
	overflow: hidden;
    display: block;
    padding: 40px 0 20px 0;
    background-color: #fafbfc;
}

.footer p {
	margin-bottom: 5px;
	line-height: 24px;
	color: #454545;
}

.footer p > a {
	font-size: 17px;
	/* color: #e52f37; */
	 color: #007ee5;
	text-decoration:underline;
}

.footer p > a:hover {
	/* color: #e52f37; */
	 color: #007ee5;
	text-decoration:underline;
}

span.template-name{
	font-weight: bold;
}

a.footer-links {
    display: block;
    font-size: 17px;
    margin-bottom: 2px;
    color: #454545;
}

a.footer-links:hover {
	/* color: #e52f37; */
	 color: #007ee5;
	text-decoration:underline;
    transition: all .5s ease-in-out;
}

/* Footer Social Icons */
ul.footer_social{
	float: right;
}

ul.footer_social li{
	display:inline-block;
    margin:0 ;
	line-height:100%!important;
}

ul.footer_social li a i {
  display: inline-block;
  margin:0 8px;
  padding:0;
  font-size:26px!important;
  line-height: 26px!important;
  color: #1e90ff;
  transition: all .5s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

ul.footer_social li a i.fa-twitter {
  color: #4099ff;
}

ul.footer_social li a i.fa-pinterest {
  color: #C92228;
}

ul.footer_social li a i.fa-facebook-square {
  color: #3b5998;
}

ul.footer_social li a i.fa-instagram {
  color: #8a3ab9;
}

ul.footer_social li a i.fa-skipe {
  color: #00aff0;
}

ul.footer_social li a i.fa-dribble {
  color: #ea4c89;
}

ul.footer_social li a i:hover {
	/* color:#e52f37!important; */
	 color: #007ee5 !important;

}

/* ========================================================== */
/* 			               04. HOME                           */
/* ========================================================== */

.home-section {
	width: 100%;
	position: relative;
  	padding-top: 140px;
  	padding-bottom: 90px;
	/* background: linear-gradient(-45deg, #4576c3, #5547bf, #9045c0, #be47b2); */
	 background: linear-gradient(-45deg, #4f92fc, #0198f3, #049af3, #ffffff);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.home-section h1{
	margin-bottom: 20px;
	line-height: 1.2;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.home-section p.hero-text{
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

/* -----  Hero Video PopUp ----- */
.popup-gallery-wrapper{
	position: relative;
	margin-top: 25px;
}

.hero-gallery{
	float: left;
}

.video-icon {
	float: left;
	width: 60px;
	height: 60px;
	background: #fff;
	border:2px solid #fff;
	border-radius: 50% 50%;
	display: inline-block;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.video-icon:before {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 100%;
    left: 50%;
    margin-left: -30px;
    bottom: 10%;
    margin-bottom: -6px;
    -webkit-animation: doublePulsation 1.9s ease infinite;
    animation: doublePulsation 1.9s ease infinite;
    z-index: 0;
}

@-webkit-keyframes doublePulsation {
     0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
    50% {opacity: 0.55;}
    100% {-webkit-transform: scale(1.3, 1.3); opacity: 0.0;}
}

@keyframes doublePulsation {
     0% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
    50% {opacity: 0.55;}
    100% {-webkit-transform: scale(1.3, 1.3); opacity: 0.0;}
}

.video-icon:hover{
	background: transparent;
}

.video-icon i {
	font-size: 26px;
	line-height: 56px;
	/* color:#e52a3d; */
	color: #0498f3;
	margin-left: 18px;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.video-icon:hover i{
	color: #fff;
}

.popup-video-text{
	float: left;
	padding-top: 15px;
	padding-left: 20px;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	text-decoration: underline;
    text-shadow: 1px 1px #656565;
}

/* -----  Register ----- */
.register-form-home-wrapper{
	margin-top: 25px;
	padding: 40px 40px;
	background: rgba(255,255,255,1);
	border-radius: 5px 5px;
}

.register-form-home-wrapper h3{
	margin-bottom: 5px;
	font-size: 22px;
}

.register-form-home-wrapper p{
	margin-bottom: 25px;
	font-size: 17px;
}

input.register-input-home, select.register-input-home{
	width: 100%!important;
    height: 52px!important;
    padding-left: 11%!important;
    padding-right: 5%!important;
    margin-bottom: 15px!important;
    color: #555!important;
    border: 1px solid #f1f1f1!important;
    background-color: #f9f9f9!important;
    font-size: 16px!important;
    border-radius: 5px 5px 5px 5px!important;
}

input.name-input-home{
    background: url('../images/input-user.png') no-repeat 12px 15px;
}

input.name-email-home{
    background: url('../images/input-envelope.png') no-repeat 12px 15px;
}

select.register-input-home{
    background: url('../images/input-select.png') no-repeat 12px 15px;
}

input.register-submit-home{
	/* background: #e52f37; */
	background:#007ee5;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    max-width: 535px;
    padding: 16px 0;
    text-transform: uppercase;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

input.register-submit-home:hover{
	background: #fff;
	border: 1px solid #007ee5;
	color:#007ee5;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out;
}

#register-form input.register-input:focus, #register-form select.register-input:focus {
  border-color:#656565!important;
  color: #454545!important;
  outline: none;
}

#register-form input.register-input:focus, #register-form select.register-input:focus {
  border-color:#656565!important;
  color: #454545!important;
  outline: none;
}

p.register_success_box_home{
	display:inline-block;
	color:#27b36a;
	border: 1px solid #27b36a;
	padding: 25px 25px;
	font-size:19px;
	text-shadow: none;
	font-style:italic;
	border-radius: 8px 8px;
	margin:15px 0;
}

p.register-form-terms-home{
	margin: 10px 0 5px 0;
	font-size: 14px;
	color: #7c8595;
    text-shadow: none;
}

input.grey-input::-webkit-input-placeholder,
select.grey-input::-webkit-input-placeholder { /* WebKit browsers */
    color:#656565;
}
input.grey-input:-moz-placeholder,
select.grey-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#656565;
}
input.grey-input::-moz-placeholder,
select.grey-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#656565;
}
input.grey-input:-ms-input-placeholder,
select.grey-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#656565;
}

/* Partners */
.partners-section {
    padding: 40px 0 20px 0;
    background-color: #f1faff;
}

.partners img.partners2 {
    opacity: 0.4;
    margin: 10px 14px;
    max-height: 55px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.partners img.partners2:hover {
    opacity: 0.8;
}

.partners-title{
	font-size: 18px;
	line-height: 78px;
	display: inline-block;
	margin-right: 15px;
}

/* ========================================================== */
/* 			               05. TEAM                           */
/* ========================================================== */

.team-item{
	padding: 10px 25px;
}

.team-item h3{
	margin:20px 0 1px 0!important;
	color:#454545;
	font-size:18px;
	text-transform:uppercase;
}

.team-info {
	display: block;
	margin-bottom:0;
}

.team-info p{
	color:#acacac;
	font-style:italic;
}

/* .team-info::after {
    background:#007ee5 !important;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 66px;
    height: 3px;
    margin-top: -22px;
    margin-left: 7px;
} */

.team-info.blue::after {
    background: #1e90ff;
}

.team-info.red::after {
    background: #ff0000;
}

.team-info.lyla::after {
    background: #d94083;
}

.team-info.yellow::after {
    background: #fdcc28;
}

.team-img{
	border-radius: 50%;
	max-width: 200px;
	padding: 5px 5px;
	background-color: #fff;
	border: 2px dashed #27b36a;
}

.team-img.blue{
	border: 2px dashed #1e90ff;
}

.team-img.red{
	border: 2px dashed #ff0000;
}

.team-img.lyla{
	border: 2px dashed #d94083;
}

.team-img.yellow{
	border: 2px dashed #fdcc28;
}

/* ========================================================== */
/* 			                06. FEATURES                      */
/* ========================================================== */

.services-wrapper{
	position: relative;
}

.main-services {
	position: relative;
    margin: 10px 5px;
    overflow: hidden;
    text-align: center;
	transition:all 1s;
}

.main-services:hover{
	transform: scale(1.025);
	transition:all 1s;
}

.main-services img{
	width: 100%;
	max-width: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    padding: 5px 5px;
}

.main-services h3 {
	margin-bottom: 5px;
}

.main-services h3 a{
	font-size: 22px;
	/* color: #e52f37;
 */
color: #007ee5;
}

.main-services h4{
	margin-bottom: 10px;
	font-size: 21px;
}
p.team-datafounder {
    padding: 0px 5px;
    font-size: 15px;
    min-height:112px;
	margin-bottom: 5px;
	text-align: left;
}
.main-services p{
    padding: 0px 5px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: left;
    margin-left: 25px;
}
p.team-phonefounder {
    font-size: 15px;
    cursor: pointer;
    text-align: left;
    margin-top: 10px;
    
}
p.team-phonefounder:hover {
    color: #007ee5;
}
.main-services.red img {
    color: #fe6869;
    border: 2px dashed #fe6869;
}

.main-services.blue img {
    color: #1e90ff;
    border: 2px dashed #1e90ff;
}

.main-services.yellow img {
    color: #fdcc28;
    border: 2px dashed #fdcc28;
}

.main-services.green img {
    color: #27b36a;
    border: 2px dashed #27b36a;
}

blockquote {
	font-size: 16px;
	color: #4285f4;
	border-left: 2px solid #4285f4;
}

.faq-box{
	margin: 30px 0 0 0;
	transition: all 1s;
}

.faq-box h4{
	font-size: 22px;
	margin-bottom: 10px;
}

.faq-box h5{
	margin-bottom: 7px;
}

.faq-box p{
	color: #7c8595;
}

/* Features */
.feature-box{
	overflow: hidden;
	margin: 40px 0 0 0;	
}

.feature-box i{
	float: left;
	font-size: 50px;
	line-height: 50px;
	width: 55px;
	height: 55px;
	text-align: center;
	color: #50a0d2;
}

.feature-box.light-blue i{
    color: #50a0d2;
}

.feature-box.dark-blue i{
    color: #3473b8;
}

.feature-box.light-green i{
    color: #a9d129;
}

.feature-box.dark-green i{
    color: #87ac34;
}

.feature-box.orange i{
    color: #fe9c24;
}

.feature-box.light-red i{
    color: #fc6a3f;
}

.feature-box.pink i{
    color: #ea4c89;
}

.feature-box-text {
	float: left;
	width: 75%;
	margin-left: 30px;
}

.feature-box h4{
	font-size: 20px;
    margin-bottom: 5px;
    min-height: 50px;
}

.feature-box p{
	color: #7c8595;
    font-size: 15px;
}

/* ========================================================== */
/* 						   07. PORTFOLIO                      */
/* ========================================================== */

.gallery-insta{
	margin: 0 !important;
}
a.popup2.portfolioresize1 img {
    width: 370px;
    height: 435px;
    object-fit: cover;
    object-position: top;
}
a.popup2.portfolioresize3 img {
	width: 370px;
    height: 435px;
    object-fit: cover;
    object-position:top;
}
a.popup2.portfolioresize2 img {
    height: 871px;
}
.gallery-insta img{
	border-radius:0 !important;
	padding: 5px 5px;
}

p.follow-instagram a{
	/* color: #e52f37; */
	color: #007ee5;
}

.popup-wrapper{
	display:block;
	position:relative;
	overflow:hidden;
}

.popup-gallery{
	display:inline-block;
	position:relative;
}

.popup-gallery img {
	position:relative;
	z-index:10;
	width: 100%;
	height: auto;
}

.popup-gallery:hover img {
	opacity: 0.95;
}

.popup-gallery a span.eye-wrapper, 
.popup-gallery a span.eye-wrapper2 {
	/* background-color:#e52f37; */
	background-color:#007ee5;
	position: absolute;
	display: block;
	overflow:hidden;
	z-index: 2;
	width: 90%;
	height:90%!important;
	top: 5%;
	left: 5%;
	font-size: 22px;
	color:#fff;
	text-align: center;
	font-weight:300;
	opacity: 0;
}

.popup-gallery a span.eye-wrapper i.eye-icon, .popup-gallery a span.eye-wrapper2 i.eye-icon{
	position: absolute;
	display: inline-block;
	font-size:36px;
	z-index: 3;
	top: 50%!important;
	margin-top: -18px!important;
	left: 0%;
	right: 0%;
}

.popup-gallery a:hover span{
	opacity: 1;
}

.popup-gallery img,
.popup-gallery a span {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.gallery-item{
	margin-bottom: 37px;
}

/* ========================================================== */
/* 			        08. MAGNIFIC POPUP (Gallery)              */
/* ========================================================== */

.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden;
}

.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
	display: none;
}

.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto;
}

.mfp-ajax-cur {
	cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
	cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.mfp-loading.mfp-figure {
	display: none;
}

.mfp-hide {
	display: none !important;
}

.mfp-preloader {
	color: #CCC;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 1044; }
	.mfp-preloader a {
	color: #CCC; }
	.mfp-preloader a:hover {
	  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
	display: none;
}

.mfp-s-error .mfp-content {
	display: none;
}

button.mfp-close, button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 1046;
	-webkit-box-shadow: none;
	box-shadow: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.mfp-close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65;
	filter: alpha(opacity=65);
	padding: 0 0 18px 10px;
	color: #FFF;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
	opacity: 1;
	filter: alpha(opacity=100);
}

.mfp-close:active {
	top: 1px;
}

.mfp-close-btn-in .mfp-close {
	color: #333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	color: #FFF;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%;
}

.mfp-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: #CCC;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap;
}

.mfp-arrow {
	position: absolute;
	opacity: 0.65;
	filter: alpha(opacity=65);
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
	margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
	opacity: 1;
	filter: alpha(opacity=100);
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 35px;
	margin-left: 35px;
	border: medium inset transparent;
}

.mfp-arrow:after, .mfp-arrow .mfp-a {
	border-top-width: 13px;
	border-bottom-width: 13px;
	top: 8px;
}

.mfp-arrow:before, .mfp-arrow .mfp-b {
	border-top-width: 21px;
	border-bottom-width: 21px;
	opacity: 0.7;
}

.mfp-arrow-left {
	left: 0;
}

  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
	right: 0;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
	border-left: 17px solid #FFF;
	margin-left: 39px;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
	border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
	padding-top: 40px;
	padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
	line-height: 0;
	width: 100%;
	max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000;
}

/* Main image in popup */
img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 0 40px;
	margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
	line-height: 0;
}

.mfp-figure:after {
	content: '';
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 40px;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #444;
}

.mfp-figure small {
	color: #BDBDBD;
	display: block;
	font-size: 12px;
	line-height: 14px;
}

.mfp-figure figure {
	margin: 0;
}

.mfp-bottom-bar {
	margin-top: -36px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto;
}

.mfp-title {
	text-align: left;
	line-height: 18px;
	color: #F3F3F3;
	word-wrap: break-word;
	padding-right: 36px;
}

.mfp-image-holder .mfp-content {
	max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
/**
* Remove all paddings around the image on small screen
*/
	.mfp-img-mobile .mfp-image-holder {
		padding-left: 0;
		padding-right: 0;
	}

	.mfp-img-mobile img.mfp-img {
		padding: 0;
	}

	.mfp-img-mobile .mfp-figure:after {
		top: 0;
		bottom: 0;
	}

	.mfp-img-mobile .mfp-figure small {
		display: inline;
		margin-left: 5px;
	}

	.mfp-img-mobile .mfp-bottom-bar {
		background: rgba(0, 0, 0, 0.6);
		bottom: 0;
		margin: 0;
		top: auto;
		padding: 3px 5px;
		position: fixed;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.mfp-img-mobile .mfp-bottom-bar:empty {
		padding: 0;
	}
	.mfp-img-mobile .mfp-counter {
		right: 5px;
		top: 3px;
	}
	.mfp-img-mobile .mfp-close {
		top: 0;
		right: 0;
		width: 35px;
		height: 35px;
		line-height: 35px;
		background: rgba(0, 0, 0, 0.6);
		position: fixed;
		text-align: center;
		padding: 0;
	}

}

@media all and (max-width: 900px) {
	.mfp-arrow {
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
	}

	.mfp-arrow-left {
		-webkit-transform-origin: 0;
		transform-origin: 0;
	}

	.mfp-arrow-right {
		-webkit-transform-origin: 100%;
		transform-origin: 100%;
	}

	.mfp-container {
		padding-left: 6px;
		padding-right: 6px;
	}
}

.mfp-ie7 .mfp-img {
  padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
	width: 600px;
	left: 50%;
	margin-left: -300px;
	margin-top: 5px;
	padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
	padding: 0;
}

.mfp-ie7 .mfp-content {
	padding-top: 44px;
}

.mfp-ie7 .mfp-close {
	top: 0;
	right: 0;
	padding-top: 0;
}

/* ========================================================== */
/* 			               09. PRICING                        */
/* ========================================================== */

.price-box-white{
	text-align: center;
	background-color: #fff;
	border: 1px solid #dde9fb;
	box-shadow: 0 12px 55px 0 rgba(0,0,0,.05);
	padding: 50px 20px;
	width: 90%;
	margin-top:30;
	margin-bottom: 20px;
	margin-left: 20px;
	border-radius: 8px 8px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.price-box-grey{
	position: relative;
	z-index: 999;
	text-align: center;
	box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
	padding: 50px 20px;
	width: 90%;
	margin-top:30;
	margin-bottom: 20px;
	margin-left: 20px;
	border-radius: 8px 8px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
   /*  background: linear-gradient(-45deg, #4576c3, #5547bf, #9045c0, #be47b2); */
     background: linear-gradient(
-45deg
, #4f92fc, #0198f3, #049af3, #ffffff);

	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.price-box-grey:hover, .price-box-white:hover {	
	transform: scale(1.03,1.03);
	-ms-transform: scale(1.03,1.03); /* IE 9 */
    -webkit-transform: scale(1.03,1.03); /* Safari */

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.price-box-white .price-title, .price-box-white ul.pricing-list li.price-value{
	color: #292929;
}

.price-box-grey .price-title, .price-box-grey ul.pricing-list li.price-value{
	color: #fff;
}

.price-box-white .price-subtitle,.price-box-white .price-text{
	color: #6a6a6a;
}

.price-box-grey .price-subtitle,.price-box-grey .price-text{
	color: #fff;
}

ul.pricing-list li.price-title{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	letter-spacing: 1px;
}

ul.pricing-list li.price-value{
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
	line-height: 70px;
	font-weight: 500;
	display: block;
	margin-top:20px;
	margin-bottom: 10px;
}

ul.pricing-list li.price-subtitle{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

ul.pricing-list li.price-text{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 500;
	margin-bottom: 5px;
}

ul.pricing-list li.price-tag a{
	color: #5547bf;
	background: #fff;
	border:1px solid #5547bf;
	border-radius: 23px 23px;
	padding: 15px 30px;
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	margin: 40px 0 30px 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

ul.pricing-list li.price-tag a:hover{
	background: #5547bf;
	border:1px solid #5547bf;
	color: #fff;
}

.price-box-grey ul.pricing-list li.price-tag a:hover{
	background: transparent;
	border:1px solid #fff;
	color: #fff;
}

/* ========================================================== */
/* 			                   10. BLOG                       */
/* ========================================================== */

.blog-item{
	position: relative;
    margin: 40px 5px 25px 5px;
    overflow: hidden;
    border: 1px solid #e5efff;
    background-color: #fff;
    border-radius: 8px 8px;
    transition: all 1s;
	min-height: 550px;
}

.blog-item:hover{
	border: 1px solid #e5efff;
	transform: scale(1.025);
	transition:all 1s;
}

.blog-item img {
	-webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.blog-item-inner{
	margin-bottom: 30px;
	padding:5px 25px;
}

.blog-item-inner p{
	margin:12px 0 2px 0;
}

h3.blog-title{
	margin-top:10px;
	margin-bottom:10px;
}

h3.blog-title a{
	color: #071e55;
	font-size:20px;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

h3.blog-title a:hover{
	text-decoration: underline;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

a.blog-icons{
	color:#858585;
	font-size:14px;
	font-style:italic;
	margin-right:10px;
	padding-right:10px;
	border-right:1px solid #aaa;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

a.blog-icons i{
	padding-right: 4px;
	color:#656565;
	font-size:17px;
	line-height:18px;
	vertical-align: text-bottom;
}

a.blog-icons:hover {
	color:#27b36a;
}

a.blog-icons.last{
	border-right: none;
}

a.blog-icons:hover{
	color:#228798;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

/* ========================================================== */
/* 						   11. NEWSLETTER                     */
/* ========================================================== */

.newsletter_wrapper {
	position: relative;
	z-index: 999;
   /*  background: linear-gradient(-45deg, #4576c3, #5547bf, #9045c0, #be47b2); */
   background: linear-gradient(-45deg, #4f92fc, #0198f3, #049af3, #ffffff);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.newsletter_box{
	width:100%;
	max-width:960px;
	margin:0 auto;
	padding:95px 0 75px 0;
}

.newsletter_info{
	padding:1px 0 30px 60px;
	border-left:1px solid #ffffff;
}

.newsletter_info h2{
	font-size: 28px;
	line-height:36px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 30px;
}

#newsletter-form #email_newsletter {
	width:91%;
	max-width:400px; 
	height:56px;
	line-height:56px;
    padding:0 4%;
	border: 1px solid #ffffff;
	background-color: transparent;
    -moz-border-radius:5px;  
    -webkit-border-radius:5px;  
    border-radius:5px;
	color:#fff;  
    font-size:16px;
	margin:0 10px 0 0;
}

#newsletter-form #submit-button-newsletter {
    width: 140px;
	height:56px;
    background-color:#ffffff;
	border: 1px solid #ffffff;
    /* color:#9045c0; */
    color: #007ee5;
    display: inline;
	margin:0 5px 0 0;
    -moz-border-radius:5px;  
    -webkit-border-radius:5px;  
    border-radius:5px;
	font-size:14px;
	font-weight:700;
	vertical-align: top;
	transition: background-color .25s ease-in-out;
   -moz-transition: background-color .25s ease-in-out;
   -webkit-transition: background-color .25s ease-in-out;
}

#newsletter-form #submit-button-newsletter:hover {
	color: #3473b8;
    background-color:#f1f1f1;
	border: 1px solid #f1f1f1;
	transition: background-color .25s ease-in-out;
   -moz-transition: background-color .25s ease-in-out;
   -webkit-transition: background-color .25s ease-in-out;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:#fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#fff;
}

p.newsletter_success_box{
	font-size:18px;
	color:#eee;
	font-style:italic;
	margin-bottom:15px;
}

/* ========================================================== */
/* 			                 12. CONTACT                      */
/* ========================================================== */

.register-link {
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
}

.contact-form-wrapper{
	margin-top: 25px;
}

.contact-form-wrapper h3{
	margin-bottom: 5px;
	font-size: 24px;
	font-weight: 500;
}

.contact-form-wrapper p{
	margin-bottom: 25px;
	font-size: 17px;
}

input.contact-input, select.contact-input{
	width: 100%;
    height: 56px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 15px;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 16px;
	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}

textarea{
	height:145px;
	margin-bottom:12px;
	width:100%;
    padding-left:2%;
    padding-right:2%;
    padding-top:10px;
    padding-bottom:10px;
	color: #fff;
	background-color: transparent;
    border: 2px solid #fff;
    font-size:16px;
	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}

input.contact-submit{
	background: #fff;
    border: none;
    color: #049af3;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    max-width: 300px;
    padding: 20px 0;
    text-transform: uppercase;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

input.contact-submit:hover{
	background:#eaeaea;
	/* color: #5547bf; */
	color: #3473b8;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out;
}
.blog-item-inner h3.blog-title {
    min-height: 76px;
}
input.contact-input::-webkit-input-placeholder,
textarea.contact-input::-webkit-input-placeholder { /* WebKit browsers */
    color:#fff;
}
input.contact-input:-moz-placeholder,
textarea.contact-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#fff;
}
input.contact-input::-moz-placeholder,
textarea.contact-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#fff;
}
input.contact-input:-ms-input-placeholder,
textarea.contact-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#fff;
}

#contact-form input.contact-input:focus, #contact-form textarea:focus {
  border-color:#fff!important;
  color: #fff!important;
  outline: none;
}

#contact-form select.contact-input:focus {
  border-color:#fff!important;
  color: #454545!important;
  outline: none;
}

p.contact_success_box{
	display:inline-block;
	color:#fff;
	border: 1px solid #eee;
	padding: 25px 25px;
	font-size:19px;
	text-shadow: none;
	font-style:italic;
	border-radius: 8px 8px;
	margin:15px 0;
}

/* ========================================================== */
/* 			               13. OTHER ELEMENTS                 */
/* ========================================================== */

/* a) Buttons */
.btn-white {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #049af3;
	background-color: #ffffff;
	border: 1px solid #fff;
    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
	border-radius: 23px 23px;
	margin: 10px 10px;
	padding: 16px 26px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-white:hover{
	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
	/* color: #e52f37!important; */
	 color: #007ee5!important;
	background:#f9f9f9;
}

.btn-white-border {
	color: #fff;
	background: transparent;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	border: 1px solid #fff;
	border-radius: 23px 23px;
	margin: 10px 10px;
	padding: 16px 26px;
	display: inline-block;
    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-white-border:hover{
	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
	/* color: #e52f37!important; */
	 color: #007ee5!important;
	background:#f9f9f9;
}

.btn-white i, .btn-white-border i {
	font-size: 22px;
	line-height: 22px;
	margin-right: 10px;
	vertical-align: text-top;
}

.btn-blue {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #fff;
	background-color: #1e90ff;
	border: 1px solid #1e90ff;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.27);
    letter-spacing: 1px;
	border-radius: 23px 23px;
	margin: 5px 10px 10px 0;
	padding: 18px 25px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-blue:hover{
	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
	color: #fff!important;
	background:#1e90ff;
}

.btn-red {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 22px;
	font-weight: 500;
	color: #fff;
	/* background-color: #e52f37;
	border: 1px solid #e52f37; */
	background-color: #007ee5;
    border: 1px solid #007ee5;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.27);
    letter-spacing: 1px;
	border-radius: 23px 23px;
	margin: 5px 10px 10px 0;
	padding: 15px 23px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-red:hover{
	/* box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
	color: #fff!important;
	background:#e52f37; */
	box-shadow: 0px 4px 10px 0 rgb(0 0 0 / 50%);
   	border: 1px solid #007ee5;
    color: #007ee5 !important;
    background: #ffffff;
}

.btn-blue.small, .btn-blue-line.small, .btn-red.small, .btn-red-line.small, .btn-white.small, .btn-white-border.small {
	font-size: 16px;
	padding: 14px 20px;
}

.btn-red-line {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	/* color: #e52f37; */
	 color: #007ee5;
	background-color: #fff;
	border: 1px solid #007ee5;
	border-radius: 23px 23px;
	margin: 15px 10px 0 0;
	padding: 20px 30px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-red-line:hover{
	color: #fff!important;
	background:#007ee5;
}

a.btn-red:visited, a.btn-red:focus{
	color: #fff;
}

/* b) Testimonials - Accordion Tabs */
.card{
	position: relative;
	margin: 20px 0;
	border:none;
    background-color: #fff !important;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.card-header {
	max-width: 100%;
	position: relative;
    padding: 15px 25px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
    border-left: 6px solid #27b36a;
}

.card-header h5 .btn-link p {
	font-family: 'Nunito', sans-serif;
	margin-top: 15px;
	padding: 0;
	font-size: 18px;
    font-weight: 700;
    color: #071e55;
	text-align: left!important;
    background-color: transparent;
}

.card-header h5 .btn-link p span {
	font-size: 17px;
    color: #27b36a;
}

.card-header h5 .btn-link:hover, .card-header h5 .btn-link:focus {
	text-decoration: none;
}

.card-body {
    padding: 20px 25px 5px 25px;
    border-top: none;
    border-left: 6px solid #27b36a;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #7c8595;
    font-style: italic;
}

img.testim-img{
	float: left;
	margin-right: 15px;
	max-width: 65px;
	border-radius: 50%;
}

p.testim-name{
	display: inline-block;
}

.testim-rating {
	margin-bottom: 30px;
}

.testim-rating i{
	color: #fdcc28;
}

.testim-platform.first{
	display: block;
	border-right: 1px solid #cecece;
}

.testim-platform p{
	margin-bottom: 5px;
	font-weight: bold;
	color: #071e55;
}

/* c) Benefits List */
ul.benefits {
    margin-bottom: 20px;
}

ul.benefits li {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 8px;
}

ul.benefits.white li {
	color: #fff;
}

ul.benefits li i {
    font-size: 18px;
    line-height: 18px;
    margin-right: 1px;
    color: #27b36a;
}

ul.benefits.white li i {
    color: #fff;
}

.no-padding-bottom{
	padding-bottom: 0;
}

/* ----- d) Fun Facts ----- */
.fun-facts-boxs{
	display: inline-block;
	width:19%;
	padding:15px 10px 5px 10px;
}

.fun-facts-title{
	font-size:16px;
	font-weight:400;
	color:#fff;
}

.fun-facts-title span{
	font-size:28px;
	line-height:40px;
	font-weight:600;
	font-style:normal;
	color:#fff;
}

.fun-facts-box i{
	font-size:45px;
	line-height:60px;
	color: #fff;
}

/* ----- e) Dropcaps Features ----- */
.nav-pills .nav-link {
	margin-bottom: 10px;
}

.nav-pills .nav-link, .nav-pills .show > .nav-link {
    border: none!important;
	transition: all 1s;
}

.nav-pills .nav-link:hover {
    color: #fff;
    background-color: #fff;
    border: none!important;
    border-radius: 8px !important;
	box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;
	-moz-box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;
	-webkit-box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;
	transition: all 1s;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #fff;
    border: 1px solid #f4f5f6!important;
    border-radius: 8px !important;
	box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;
	-moz-box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;
	-webkit-box-shadow: 0 12px 55px 0 rgba(0,0,0,.05) !important;
	transition: all 1s;
}

.features-second{
	margin: 10px 0;
}

.features-second h4{
	margin-top: 10px;
	font-size: 21px;
}

.features-second p{
	margin-bottom: 10px;
}

.features-second img {
    float: left;
    margin: 10px 25px 10px 0;
    width: 55px;
}

/* ========================================================== */
/* 			             14. MEDIA QUERIES                    */
/* ========================================================== */

@media (max-width: 991px) {

	.navbar-brand {
	    /* color: #e52f37; */
	     color: #007ee5;

	}

	.navbar-fixed-top {
	    background-color: #fff!important;
	}

	.navbar-fixed-top.opaque {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	.navbar-fixed-top .navbar-nav > li {
	    display: block;
	}

	.navbar-fixed-top .navbar-nav > li.discover-link {
		margin-top: 10px;
	}

	.navbar-fixed-top .navbar-nav > li > a.discover-btn {
	    padding: 8px 12px!important;
	    margin-left: 20px;
	    font-size: 17px!important;
	}

	.home-section {
		padding-top: 140px;
	  	padding-bottom: 0;
	    background-attachment: inherit;
	}

	.home-section h1 {
	    font-size: 38px;
	    line-height: 44px;
	}

	.newsletter_box{
		text-align:center;
	}
	
	.newsletter_info{
		padding: 0;
		border-left: none;
	}
	
	.newsletter_info h2{
		font-size: 26px;
	}
	
	.newsletter_info p{
		font-size: 18px;
		line-height: 28px;
	}
	
	#newsletter-form #email_newsletter {
		width: 90%;
		margin-bottom:10px;
	}
	
	#newsletter-form #submit-button-newsletter {
		width: 140px;
		height:56px;
		margin:0;
	}
		
}

@media (max-width: 768px) {

	.navbar-fixed-top {
		background-color: #fff;
	}

	.home-section {
		padding-top: 110px;
	  	padding-bottom: 0;
	    background-attachment: inherit;
	}

	.home-section-overlay{
		opacity: 0.37;
	}

	.footer {
	    padding-top: 40px;
	    text-align: center;
	}

	ul.footer_social {
		margin-top: 15px;
		float: none;
	}

	ul.footer_social li a i {
	    margin: 0 8px!important;
	}

	.partners-section {
	    padding: 40px 0;
	}

	.partners1{
		text-align: center;
	}
	.partners2{
		text-align: center;
	}

	.partners-title{
		font-size: 18px;
		line-height: 30px;
		float: none!important;
		margin-right: 30px;
	}

	.blog-item{
	    margin: 25px 5px 20px 5px;
	}

	.top-margins-images{
		margin-top: 50px;
	}

	.bottom-margins-images{
		margin-bottom: 50px;
	}

	.section-bg-1, .section-bg-2, .section-bg-3{
	    background-attachment: inherit;
	}

}

@media (max-width: 375px) {

	.navbar-toggle {
	    border: 1px solid #9f9f9f!important;
	}

	.home-section {
		padding-top: 110px;
	  	padding-bottom: 0;
	}

	.home-section h1 {
	    font-size: 32px;
	    line-height: 38px;
	}

	.card{
	    box-shadow: none;
	}

	.card-header h5 .btn-link {
		font-size: 16px;
		clear: left;
	}

	.card-header h5 .btn-link p {
		margin-top: 7px;
	}

	.card-header h5 .btn-link p span {
		display: block;
		font-size: 15px;
	}

	.section-white {
	    padding: 60px 0 70px 0!important;
	}

	.section-white.small-padding-bottom, .section-grey.small-padding-bottom {
	    padding: 60px 0 50px 0!important;
	}

	.margin-left-20{
		margin-left: 1px!important;
	}

	.services-wrapper{
		margin-top: 30px;
	}

	.small-col-inside{
		margin: 50px 0;
		padding-right: 25px;
		padding-left: 25px;
	}

	.partners img.partners2 {
	    margin: 10px 25px 10px 0;
	    max-height: 40px;
	}

	.feature-box {
	    text-align: center;
	}

	.feature-box i {
		display: inline-block;
		float: none;
		margin-bottom: 25px;
	}

	.feature-box-text {
	    width: 100%;
	    margin-left: 0;
	}

}
img.partners1 {
    width:200px;
}
.social-icons a {
    margin-left: 6px;
}
.social-hero a {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px;
}
.social-hero a i {
    margin: 0px 10px 0px 0px;
}
.social-icons a span.fa.fa-linkedin {
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: white;
    border-radius: 50%;
}
.social-icons a span.fa.fa-facebook {
    width: 30px;
    height: 30px;
    line-height: 35px;
    background-color: white;
    border-radius: 50%;
}
.team-info.lyla p {
    margin-bottom: 5px;
}
.team-info.blue p {
    margin-bottom: 5px;
}
.team-info.yellow p {
    margin-bottom: 5px;
}
.social-icons {
    margin-bottom: 5px;
}
.social-icons a span:hover {
    background-color: #007ee5 !important;
    color: #fff;
}